furniture-handle.stl filter=lfs diff=lfs merge=lfs -text
nut.stl filter=lfs diff=lfs merge=lfs -text
radiator-towel-holder.stl filter=lfs diff=lfs merge=lfs -text
screw.stl filter=lfs diff=lfs merge=lfs -text
furniture-handle_0.15mm_PLA_MK3S_2h30m.gcode filter=lfs diff=lfs merge=lfs -text
nut_0.1mm_PLA_MK3S_49m.gcode filter=lfs diff=lfs merge=lfs -text
screw_0.1mm_PLA_MK3S_2h2m.gcode filter=lfs diff=lfs merge=lfs -text
screw_0.1mm_PLA_MK3S_2h3m.gcode filter=lfs diff=lfs merge=lfs -text
screw_0.png filter=lfs diff=lfs merge=lfs -text
nut_0.2mm_PLA_MK3S_22m_+0.1mm.gcode filter=lfs diff=lfs merge=lfs -text
nut_0.2mm_PLA_MK3S_22m.gcode filter=lfs diff=lfs merge=lfs -text
screw_0.2mm_PLA_MK3S_1h1m.gcode filter=lfs diff=lfs merge=lfs -text
membrane1.stl filter=lfs diff=lfs merge=lfs -text
membrane.stl filter=lfs diff=lfs merge=lfs -text
nutplate.stl filter=lfs diff=lfs merge=lfs -text
square.stl filter=lfs diff=lfs merge=lfs -text
ball.stl filter=lfs diff=lfs merge=lfs -text
clamp2.stl filter=lfs diff=lfs merge=lfs -text
clamp.stl filter=lfs diff=lfs merge=lfs -text
screwlong.stl filter=lfs diff=lfs merge=lfs -text
nut4screwlongthick8mm.stl filter=lfs diff=lfs merge=lfs -text
screw6longclamp.stl filter=lfs diff=lfs merge=lfs -text
screw6.stl filter=lfs diff=lfs merge=lfs -text
screwlongthick.stl filter=lfs diff=lfs merge=lfs -text
tube4screwlongthick.stl filter=lfs diff=lfs merge=lfs -text
wrench6.stl filter=lfs diff=lfs merge=lfs -text
heatingclamp.stl filter=lfs diff=lfs merge=lfs -text
gobowl.stl filter=lfs diff=lfs merge=lfs -text
heatingclampbracket.stl filter=lfs diff=lfs merge=lfs -text
nut4screwlongthick8mmring.stl filter=lfs diff=lfs merge=lfs -text
nut4screwlongthick.stl filter=lfs diff=lfs merge=lfs -text
screwbar.stl filter=lfs diff=lfs merge=lfs -text
gobowl_cap.stl filter=lfs diff=lfs merge=lfs -text
screwbar.gcode filter=lfs diff=lfs merge=lfs -text
tube4screwlongthick.gcode filter=lfs diff=lfs merge=lfs -text
heatingclamp.gcode filter=lfs diff=lfs merge=lfs -text
heatingclamp_0.2mm_ABS_MINI_6h13m.gcode filter=lfs diff=lfs merge=lfs -text
heatingclampbracket.gcode filter=lfs diff=lfs merge=lfs -text
screw6longclamp.gcode filter=lfs diff=lfs merge=lfs -text
screwlongthick_0.1mm_ABS_MINI_4h10m.gcode filter=lfs diff=lfs merge=lfs -text
wrench6.gcode filter=lfs diff=lfs merge=lfs -text
clamp2.gcode filter=lfs diff=lfs merge=lfs -text
membrane_0.1mm_FLEX_MK3S_43m.gcode filter=lfs diff=lfs merge=lfs -text
nut_0.1mm_ABS_MINI_45m.gcode filter=lfs diff=lfs merge=lfs -text
nut_0.1mm_PLA_MINI_46m.gcode filter=lfs diff=lfs merge=lfs -text
nut4screwlongthick8mm2.gcode filter=lfs diff=lfs merge=lfs -text
nut4screwlongthick.gcode filter=lfs diff=lfs merge=lfs -text
screw6.gcode filter=lfs diff=lfs merge=lfs -text
screw6longclamp_0.2mm_ABS_MINI_4h18m.gcode filter=lfs diff=lfs merge=lfs -text
clamp.gcode filter=lfs diff=lfs merge=lfs -text
screwlongthick.gcode filter=lfs diff=lfs merge=lfs -text
